@import './utils';
@import './base';
@import './layout';


.main-content {
    padding: 16px;
}

.hero {
    display: grid;
    gap: 22px;
    &__heading {
        font-size: 20px;
        font-weight: 700;
        font-size: 42px;
    }
    &__paragraph {
        color: var(--dark-graynish-blue);
    }
    &__image {
        width: 100%;
    }
}

.primary-button {
    display: inline-block;
    background-color: var(--soft-red-color);
    color: var(--off-white-color);
    padding: 14px 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 4px;
}