.main-content {
    padding: 16px;
    display: grid;
    gap: 60px;

    @include tablet {
        grid-template-columns: 1fr 350px;
    }
}

.hero {
    display: grid;
    gap: 28px;

    &__body {
        display: grid;
        gap: 22px;

        @include tablet {
            margin-top: 30px;
        }
        
        @include desktop {
            gap: 90px;
        }

        @include desktop {
            grid-template-columns: 1fr 1fr;
        }

        &__content {
            display: flex;
            flex-direction: column;

            &>*:first-child {
                margin-bottom: 22px;
            }

            @include tablet {
                justify-content: space-between;
            }
        }

        &__heading {
            font-size: 20px;
            font-weight: 700;
            font-size: 42px;
            font-weight: 700;

            @include tablet {
                font-size: 55px;
                line-height: 60px;
            }
        }

        &__paragraph {
            font-size: 15px;
            color: var(--dark-graynish-blue);
        }
    }

    &__image {
        width: 100%;
    }
}

.news-card {
    padding: 20px;
    background-color: var(--very-dark-blue);

    @include tablet {
        padding: 30px;
    }

    &__heading {
        color: var(--soft-orange-color);
        font-weight: 700;
        font-size: 30px;

        @include tablet {
            font-size: 38px;
        }
    }

    &__item {
        padding: 20px 0;

        &-heading {
            color: var(--off-white-color);
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: 700;
        }

        &-paragraph {
            font-size: 16px;
            color: var(--graynish-blue);
            line-height: 24px;
        }

        &-anchor {
            display: block;
            text-decoration: none;

            &:hover,
            &:focus {
                .news-card__item-heading {
                    color: var(--soft-orange-color);
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--graynish-blue);
            }
        }
    }
}

.post-card {
    display: flex;

    &__image {
        width: 100px;
    }

    &__body {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--very-dark-blue);

        &__heading {
            font-weight: 700;
        }

        &__count {
            color: var(--graynish-blue);
            font-weight: 700;
            font-size: 25px;
        }

        &__paragraph {
            font-size: 15px;
            color: var(--dark-graynish-blue);
            line-height: 22px;
        }
    }
}

.post-card {
    &-anchor:hover,
    &-anchor:focus {
        .post-card__body__heading {
            color: var(--soft-red-color);
        }
    }
}

.post-cards {
    display: grid;
    gap: 30px;

    @include tablet {
        grid-template-columns: repeat(3, 1fr);
        grid-column: span 2 / span 2;
    }

    
}