.navbar {
    padding: 28px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
        padding: 58px 16px;
    }

    &__logo {
        svg {
            @include tablet {
                width: 64.29px;
                height: 40px;
            }
        }
    }

    &__button {
        @include tablet {
            display: none;
        }
    }

    &__navigator {
        display: none;
        padding: 25px;
        z-index: 20;
        position: fixed;
        background: white;
        right: -256px;
        top: 0;
        bottom: 0;
        animation-name: displayNavigation;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
        width: 256px;

        @include tablet {
            display: block;
            animation: unset;
            position: static;
            background-color: transparent;
            width: unset;
            padding: 0;
        }

        &__items {
            @include tablet {
                display: flex;
            }
        }

        &__header {
            display: flex;
            justify-content: end;
            margin-bottom: 90px;

            &__button {
                svg {
                    width: 35px;
                    height: 35px;
                }
            }

            @include tablet {
                display: none;
            }
        }

        &__items {
            li:not(:last-child) .navbar__navigator__item {
                margin-bottom: 30px;

                @include tablet {
                    margin-bottom: 0;
                    margin-right: 40px;
                }
            }
        }

        &__item {
            display: inline-block;
            color: var(--very-dark-blue);
            font-size: 18px;

            &:hover,
            &:focus {
                color: var(--soft-red-color);
            }
        }

        &__overlay {
            content: "";
            display: none;
            z-index: 10;
            position: fixed;
            background: rgba(0, 0, 26, 0.6);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &--active {
                display: block;

                @include tablet {
                    display: none;
                }
            }
        }

        &--active {
            display: block;

            @include tablet {
                display: block;
            }
        }
    }
}

@keyframes displayNavigation {
    from {
        right: -256px;
    }

    to {
        right: 0;
    }
}