.primary-button {
    display: inline-block;
    background-color: var(--soft-red-color);
    color: var(--off-white-color);
    padding: 14px 30px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 4px;
}
