*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

button {
    background-color: transparent;
    border: none;
}

body {
    background-color: var(--off-white-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
